.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin-top: 20px;
    margin-left: 20px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    position: sticky;
}
.btn-item{
    border: none;
    border-radius: 0px 0px 8px 8px;
    font-size: 1.25rem;
    padding: 7px 15px;
    margin: 5px 5px;
    /* background-color: mintcream; */
    background-color: rgb(248, 190, 246);
    
}
.btn-item:hover{
    background-color: rgb(248, 94, 243);
}
@media screen and (max-width:1100px) {

    .products-container{
        grid-template-columns: repeat(2,1fr);
        margin: 100px 50px;
    }
}
@media screen and (max-width:950px) {
    .shop-container{
        grid-template-columns:1fr;
    }
    .products-container{
        grid-template-columns:repeat(2,1fr);
        margin: 100px 50px;
        order: 2;
    }
}

@media screen and (max-width:650px) {
    .shop-container{
        grid-template-columns:1fr;
    }
    .products-container{
        grid-template-columns:1fr;
        margin: 100px 50px;
        order: 2;
    }
}